@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
    font-family: "Sora", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background: #7289DA;
    color: #fff
}

body {
    background-color: #23272A;
}

.status-wrapper .legend-wrapper .legend .legend-marker {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    margin-right: 12px;
}

.status-wrapper small {
    color: rgb(230, 218, 218);
}

.bg-success.legend .legend-marker {
    background-color: #01E6CE;
}

span {
    font-style: inherit;
    font-weight: inherit;
}

.bg-warning.legend .legend-marker {
    background-color: #FF9B00;
}

.bg-error.legend .legend-marker {
    background-color: #FF414B;
}

.status-wrapper .legend-title {
    margin-bottom: 20px;
}

.bg-warning {
    color: #FF9B00;
}

.bg-error {
    color: #FF414B;
}

.status-wrapper .legend-wrapper .legend {
    margin-top: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-success {
    color: #01E6CE;
}

.status-wrapper .legend-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.ss {
    left: 500px !important;

    text-align: center;
}

@media screen and (max-width: 960px) {
    .ss {
        left: 75px !important;
        text-align: center;
    }
}

.chart-wrapper {
    padding: 2%;
    display: inline-block;
}

.main.chart-wrapper {
    width: 96%;
    height: 400px;
}

.user-profile {
    float: right;
    margin-right: 2rem;
}

.logout {
    position: relative;
    bottom: 90px;
}

@media only screen and (max-width: 1000px) {
    .logout {
        position: relative;
        bottom: 90px;
    }
}